@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.background {
    background-image: linear-gradient(to right bottom, #40eaff, #39d1e3, #31b8c8, #2aa0ae, #238994);
}

.titulo {
    text-align: center;
    font-size: 64px;
}

.fonte {
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 3px 0px #521212, 6px 2px #521212, 5px 1px #521212, 2px 2px #521213;
    color: #ff64c9;
}

.container {
    margin: 90px auto;
    background-color: #349aa7;
    width: 90%;
    border: 1px solid #2c4242;
    padding: 10px 10px 40px 10px;
}
.container h3 {
    font-family: 'Righteous', cursive;
    text-shadow: 2px 0px #521212, 6px 3px #521212, 5px 1px #521212, 2px 2px #521213;
    color: #ff64c9; 
    text-align: center;
    font-size: 34px;
}
.container p {
    font-family: 'Righteous', cursive;
    color: #ffd0d6;
    font-size: 30px;
    text-shadow: 0px 0px #000000, 0px 1px #000000, 2px 3px #000000, 2px 2px #000000;
    padding: 20px;
}

.fotos {
    display: flex;
    justify-content: space-around;
}
.fotos img {
    border: 2px solid #7e0a55;
    width: 18%;
}